
/*
Change the border radius of header, navigation bar, navigation bar buttons, 
footer and mailing list subscription box.

While I could not understand why the main CSS refused to set the border-radius, 
I've temporarily used a new separate external CSS file to take precedence over the main CSS.
If anyone has figured out the reason behind it, please do let me know.
--
MarkL
*/

.footer-container-override {
    border-radius: 50px 50px 0px 0px;
}

.footer-container-3-override {
    border-radius: 30px;
}

.menu-buttons-override {
    border-radius: 20px;
}

.header-override {
    border-radius: 0px 0px 20px 20px;
}

.menu-button-override {
    border-radius: 5px;
}
