* {
    box-sizing: border-box
}

body {
    background-color: lightgray;
    margin: 0;
    /* padding: 0; */
    font-family: Verdana, sans-serif;
}

img {
    vertical-align: middle;
}

.black-hyperlink {
    color: black;
    text-decoration: none;
}

#basket {
    width: 1080px;
    margin: 0 auto;
}

#header {
    height: 150px;
    width: 1080px;
    background-color: lightgreen;
    border-style: solid;
    text-align: center;
    /* margin: auto; */
}

.header-circle-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding: 10px;
}

.account-circle-image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 10px;
}

.website-title {
    font-weight: bold;
    font-size: 30px;
}

/* Not working*/
#menu-buttons {
    margin-right: 20px;
    background: gray;
    border-style: solid;
    height: 90px;
    width: 1080px;
    padding-top: 20px;
    
    display: flex;
    justify-content: center; /* Center the links */
    gap: 10px; /* Add some spacing in between the buttons */
}

/* Unused */
#slider {
    height: 400px;
    width: 900px;
    background-color: lightgray;
    border-style: solid;
}

.menu-button {
    height: 50px;
    background-color:lightblue;
    border-style: solid;
    text-align: center;
    /* margin: auto; */
    float: left;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;

    transition: background-color 0.3s, transform 0.3s linear;
}

.menu-button:hover {
    background-color: rgb(170, 170, 40);

    transform: scale(1.15);
    transition: background-color 0.3s, transform 0.3s linear;
}

.content {
    height: 500px;
    width: 250px;
    border-style: solid;
    border-radius: 20px;
    float: left;
    /* padding-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    text-align: center;

    transition: background-color 0.3s, margin-top 0.3s linear;
}

.content:hover {

    transition: background-color 0.3s, margin-top 0.3s linear;
    margin-top: 10px;
}

#content1 {
    background-color: darksalmon;
}

#content2 {
    background-color: yellow;
}

#content3 {
    background-color: deepskyblue;
}

.content-circle-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding: 10px;
}

#clear {
    clear: both;
}

#footer-container {
    background-color: rgb(90, 90, 90);
    width: 1080px;
    height: 300px;
    /* float: right; */
    /* clear: both; */
}

#footer-container-2 {
    padding-top: 3%;
    float: left;
}

.footer-text {
    color: white;
    padding-left: 5%;
}

.footer-text-2 {
    font-weight: bold;
    text-decoration: underline;
    padding-left: 5%;
}

.black-text {
    color: black;
}

/* .justify-text {
    text-align: justify;
} */

.white-hyperlink {
    color: white;
    text-decoration: none;
}

#footer-container-3 {
    background-color: lightgray;
    float: left;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 300px;
    height: 200px;
    margin-left: 53%;
    padding-top: 1%;
    margin-top: 5%;
}

.subscribe-textbox {
    width: 80%;
    font-size: 16px;
}

.subscribe-button {
    width: 80%;
    font-size: 16px;
}

.white-hyperlink:hover {
    text-decoration: underline;
}

.padding-bottom {
    padding-bottom: 10%;
}

#account-container {
    font-weight: normal;
    font-size: 20px;
    text-align: right;
    float: right;
}

/*
    A hidden container to ensure the contents tabs animations
    do not push the footer down and affect the overall website design.
*/
#contents-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 500px;
}
