
/* 
Start of the lines/blocks of codes
Developed by M1
Student ID: Redacted
 */

.tips-container {
    background-color: lightyellow;
    height: 225px;
    width: 700px;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    border-width: 2px;
}

/* 
End of the lines/blocks of codes
Developed by M1
Student ID: Redacted
 */
